@media screen and (max-width:1550px){
    .definition-wrapper{
        margin: 0 2rem 0 2rem;
    }
    .advantages-container{
        margin-left: -20rem;
    }
    .fast-advantage-block {
        max-width: 25rem;
    }
    .license-text b {
        margin-right: 1rem;
    }
}