@media screen and (max-width:1550px){
    .definition-wrapper{
        margin: 0 2rem 0 2rem;
    }
    .advantages-container{
        margin-left: -20rem;
    }
    .fast-advantage-block {
        max-width: 25rem;
    }
    .license-text b {
        margin-right: 1rem;
    }
}

@media (max-width:800px){
    .header-information{
        justify-content: center;
    }
    .header-information .item-many, .header-information .btn{
        display: none;
    }
    .call-btn-hidden {
        display: inherit;
    }
    .info-item{
        .burger {
            margin-right: 2rem;
        }
        p {
            margin-right: 2rem;
            font-size: 3.5rem;
        }
    }

    //burger
    .nav-links{
        width: 80%;
        min-height: 100vh;
        flex-direction: column;
        justify-content: initial;

        li {
            margin: 2rem 0;
        }
        
        li:nth-child(1){
            margin-top: 6rem;
        }   
     }

    .intro-section{
        padding: 1rem 2rem;
        h2{
            padding-top: 0;
            margin-top: 5rem;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
        form{
            flex-direction: column;
            justify-content: center;
            
            input, button {
                width: 50%;
                margin: 1rem 0;
            }
        }
    }

    .company-section{
        .counter-wrapper{
            .counter{
                padding: 3rem;
                font-size: $regular;
                b::before{
                    bottom: 100px;
                }
            }
        }
        .definition-wrapper h3{
            margin-bottom: 2rem;
        }
        .definition-img{
            display: none;
        }
        .definition-list .btn{
            margin:3rem 0 5rem 3rem;
        }
    }
    
    .advantages-section{
        padding: 0;

        .container{
            display: inherit;
        }
        .form-wrap-g{
            width: 100%;
        }
        .advantages-wrap{
            margin-bottom: 2rem;
            h5{
                text-align: center;
                margin: 2rem 0;
            }
            .advantage-row{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                b {
                    max-width: 50rem;
                    &::before{
                        top: -32%;
                        left: -14%;
                    }
                }
            }
        }
        .fast-advantages-wrap{
            display: none;
        }
    }

    .gallery-wrap{

        .gallery-list-item{
            padding: 2rem 3rem;
        }

        .gallery-image{
            width: 80%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }

        .gallery-image-text-wrap{
            padding: 4rem;
        }
        .gallery-btn-wrap {
            padding-top: 6rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .intro-section {
        h2 {
            font-size: 3.5rem;
        }
    }

    h5 {
        // временно
        font-size: 3rem;
    }

    h6 {
        &::before {
            position: unset;
        }
    }
}