.advantages-section{
    padding: 14rem 0;
}
.advantages-section .container{
    @include flex(row, center, flex-start);
}

.advantages-container {
    flex: 1 1 40rem;
    margin-left: -29rem;
}

.form-wrap-g {
    background: url('../../src/imgs/jpg/advantages-formBG1.jpg') no-repeat;
    background-position: cover;
    width: 76rem;
    height: 76rem;
}
.form-wrap {
    padding: 10rem 5rem 0rem 24rem;
    margin: 0 8rem 0 0;
    color: white;

    b {
        text-transform: uppercase;
        text-align: center;
        font-size: $large;
    }
    p {
        padding: 1.5rem 0 1.5rem 0;
    }
    button {
        width: 100%;
        border: 1px solid white;
    }
    input {
        width: 100%;
        margin: 1rem 0;
        padding-left: 2rem;
    }
    label p {
        font-weight: bold;
    }
}

.advantages-wrap {
    flex: 1 1 40rem;
    h5 {
        font-size: $large;
        text-align: end;
        margin-bottom: 4rem;
        margin-right: 12rem;
    }
}
.advantage-sign{
    position: relative;
}
.advantage-sign::before {
    position: absolute;
    content: "+";
    font-size: $enourmous;
    color: $orange;
    padding: 0 2rem;
    top: -10%;
    left: -18%;
}

.advantage-row {
    @include flex(unset, space-around, unset);
    b {
        max-width: 35rem;
        margin: 2rem 0;
        padding: 0rem 1rem;
    }
}

.fast-advantages-wrap {
    @include flex(row, center, center);
    padding-top: 10rem;
}

.fast-advantage-block {
    @include flex(column, center, center);
    max-width: 30rem;
    text-align: center;
    flex: 1 1 25rem;
    padding: 2rem;
}