body {
    font-size: $regular;
}

.btn {
    background: $orange;
    color: white;
    border:none;
}

.btn,
input{
    font-family: inherit;
    padding: 1.5rem 4rem;
    width: 35rem;
    width: 30%;
    font-size: 2.2rem;
}

.full-wrapper{
    width: 100%;
    position: relative;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

.label--non-visual {
    display: none;
}

.intro-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(209, 160, 54, 0.7) 32.74%, rgba(233, 155, 11, 0.486) 100%), url('../../src/imgs/sc.png') no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        font-size: $enourmous;
        text-align: center;
        padding-top: 8rem;
        text-transform: uppercase;
    }
}
.intro-form--wrapper {
    font-size: 3rem;
    text-align: center;
    p {
        padding: 8rem 0 4rem;
    }
    button, input{
        border-radius: 15px;
        text-align: center;
    }
    input{
        border: 2px solid $orange;
    }
}
.form {
    @include flex(row, space-around, center);
    padding-bottom:18rem;
}

.btn--intro {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    transition: all ease-in-out 0.5s;
    img {
        margin-right: 0.8rem;
    }
    &:hover{
        box-shadow: -4px 4px 20px rgba(0,0,0, 0.2), 10px 4px 20px rgba(0,0,0, 0.2);
    }
}

.info-item .btn {
    width: 28rem;
}

a {
    text-decoration: none;
    color: black;
}
input[type="text"], input[type="tel"]{
    &:focus{
        border: 3px solid $yellow;
    }
}