.counter-wrapper {
    @include flex(row, space-evenly, center);
    text-align: center;
    margin-bottom: 12rem;
}

.counter {
    position: relative;
    background: linear-gradient(180deg, #ffb332 0%, #ff6501 100%);;
    padding: 5rem;
    font-size: 2.6rem;
    font-weight: 600;    
    color:white;

    b {
        font-size: 5rem;
    }
         
    p {
        padding-top: 2rem;
    }

    &::before{
        position: absolute;
        content: "";
        width: 6.5rem;
        height: 0.4rem;
        background: white;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.definition-container { display: flex; justify-content: space-between; align-items: center; }

.definition-block { display: flex;  align-items: center; margin-bottom: 3rem; }
.definition-block__icon-wrap { height: 5rem; min-width: 5.5rem; margin-right: 2rem; }
.definition-block__icon { width: 5rem; }

.definition-block__title { font-weight: 600; font-size: 2.1rem; }
.definition-block__description, .definition-block__title { line-height: 1.6; }


.definition-text {
    h3 { font-size: 4rem; }
}

.definition-img {
    flex: 1 1 50rem;
    img {
        width: 100%;
    }
}