.license-section {
    background: $gray-bg;
}
.license-text{
  @include flex(row, space-between, center);
  padding: 8rem 0 6rem;
  h6 {
    background: $orange;
    color: white;
    font-size: 3rem;
    padding: 2rem 3rem;
    margin-right: 1.5rem; 
  }
}
.license-text-wrap{
  @include flex(row, space-between, center);
}
.swiper-btns-wrap{
  @include flex(row, space-between, center);
}

.swiper-button-next, .swiper-button-prev {
  @include flex(row, space-between, center);
  cursor: pointer;
  background: $orange;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: $big;
  &:active{
    background: darken($color: $orange, $amount: 15);
  }
}
.swiper-button-prev{
  margin-right: 2rem;
}

  .swiper-slide {
    @include flex(row, center, center);
    width: 34rem !important;
  }

  .swpr-wrap {
    padding-bottom: 14rem;
  }
