.questions-section .container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.question-img{
    flex: 1 1 40rem;
    min-width: 72rem;
    margin-top: -10rem;
    margin-right: 12rem;
}
.question-form {
    @include flex(column, center, unset);
    flex: 1 1 40rem;
    p {
        padding: 2rem 0;
    }
    b {
        font-size: $big;
        margin-top: 2rem;
    }
    button{
        margin: 2rem 0;
    }
}
.swiper-slide {
    flex: 1 0 18rem;
}