.questions-section .container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.question-img{
    flex: 1 1 40rem;
    max-width: 68rem;
    height: auto;
    margin-top: -10rem;
}
.question-form {
    @include flex(column, center, unset);
    flex: 1 1 38rem;
    p, label {
        margin: 1rem 0;
    }
    h6 {
        font-size: $big;
        margin-top: 2rem;
    }
    button{
        margin: 2rem 0;
    }
}

.question__form {
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    flex: 1 0 18rem;
}