.service-section {
    background: $gray-bg;
    
    h4 {
        font-size: $large;
        text-align: center;
        padding: 5rem 0 2rem 0;
    }

    .services-wrap {
        @include flex(row, center, none);
    }
}

.service-block {
    @include flex(column, center, center);
    max-width: 39rem;
    text-align: center;
    padding: 7rem 5rem;
    font-size: 1.6rem;
    transition: all ease-in-out 0.6s;
    a {
        font-size: 2.6rem;
        font-weight: bold;
        padding: 2.5rem 0 2rem 0;
        color: black;

        text-decoration: none;

        &:hover {
            color: $orange;
            transition: all ease-in-out 0.4s;
        }
    }

    &:hover {
        background: lighten($color: $gray-bg, $amount: 15)
    }
}

.service-block-description {
    margin: 1rem;
}

.service-btn {
    margin: 4rem 0 0 0;
    background: white;
    color: black;
    font-size: 1.8rem;
    border: 2px solid $orange;
    transition: all ease-in-out 0.6s;
    width:25rem;
    &:hover{
        color: $orange;
        box-shadow:2px 4px 8px rgba(0, 0, 0, 0.3);
    }
}

.service-block-img {
    position: relative;
}
.service-block-img img:last-child {
    position: absolute;
}
.service-img-tech1{
    top: -4%;
    right: 4%;
}
.service-img-tech2 {
    top: 32%;
    right: -15%;
}
.service-img-tech3 {
    top: 26%;
    left: -14%;
}
.service-img-tech4 {
    top: 30%;
    right: -11%;
}
.service-img-tech5 {
    top: 0;
    right: 0;
}
.service-img-tech6 {
    left: -10%;
    top: 4%;
}

.services-btn-wrap {
    z-index: 4;
    position: relative;
    text-align: center;
    .btn {
        margin: 2rem 3rem;
        padding: 2rem 8rem;
    }
    .btn:last-child {
        color: black;
        margin-bottom: 5rem;
        &::before{
            background: white;
        }
    }
}