.service-section {
    background: $gray-bg;
    text-align: center;
}

.services { display: flex; flex-wrap: wrap; }

.service__block {
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    width: 33.33%;
    padding: 6rem 5rem;
    font-size: 1.6rem;
    transition: all ease-in-out 0.4s;

    &:hover {
        background: lighten($color: $gray-bg, $amount: 15);
        .service__title {
            color: $orange;
        }
    }
}

.service__title { font-size: 2.6rem; font-weight: bold; color: black; transition: all ease-in-out 0.4s; }    
.service__description { margin: 2.5rem 0; }

.service__img {
    height: 22rem; width: 22rem; position: relative; margin-bottom: 5rem;
    background-repeat: no-repeat; background-position: center;
}

.service__img-tech { position: absolute; bottom: -4rem; left: 0; }

/*backgrounds*/
.service__img_unit1 { background-image: url('../../src/imgs/png/services-bg4.png'); }
.service__img_unit2 { background-image: url('../../src/imgs/png/services-bg5.png'); }
.service__img_unit3 { background-image: url('../../src/imgs/png/services-bg3.png'); }
.service__img_unit4 { background-image: url('../../src/imgs/png/services-bg2.png'); }
.service__img_unit5 { background-image: url('../../src/imgs/png/services-bg1.png'); }
.service__img_unit6 { background-image: url('../../src/imgs/png/services-bg6.png'); }







.service-btn {    
    background: white;
    color: black;
    font-size: 1.8rem;
    border: 2px solid $orange;
    transition: all ease-in-out 0.6s;
    width:25rem;
    &:hover{
        color: $orange;
        box-shadow:2px 4px 8px rgba(0, 0, 0, 0.3);
    }
}
.services-btn-wrap {
    z-index: 4;
    position: relative;    
    .btn {
        margin: 2rem 3rem;
        padding: 2rem 8rem;
    }
    .btn:last-child {
        color: black;
        margin-bottom: 5rem;
        &::before{
            background: white;
        }
    }
}